body {
  background-color: #f4f5f6;
}

.page-header,
.main,
.footer {
  max-width: 1310px;
  width: 100vw;
  margin: 0 auto;
  background-color: white;
}

/* agregar con media query */

.page-header > .top-header {
  padding: 15px;
  background-color: red;
}

@media only screen and (min-width: 992px) {
  .page-header > .top-header {
    padding: 20px 10px 25px;
  }

  .top-header > .row {
    align-items: flex-end;
  }
}

.top-header > .row {
  color: white;
}

#title-svg {
  fill: white;
  height: 20px;
}


@media only screen and (min-width: 992px) {
    #title-svg {
        height: 60px;
    }
}

.upper-case {
  text-transform: uppercase;
  font-weight: 700;
}

@media only screen and (max-width: 776px) {
  .top-header > .row > date {
    /* display: none; */
  }
}

.top-header > .row > div:last-child {
  text-align: right;
}

#singin,
.subscribe-lk {
    font-size: .8em;
}

#singin:link {
  color: black;
}

#signin:hover,
.subscribe-lk:hover {
  text-decoration: none;
}

.subscribe-lk {
  background-color: white;
  color: red;
  border-radius: 1px;
  padding: 6px 3px;
}

.subscribe-lk > svg {
  fill: #f72210;
  width: 8px;
  height: 10px;
  margin-left: 5px;
  vertical-align: baseline;
}

#menu-icon {
    margin-left: 3px;
}

@media only screen and (max-width: 768px) {
    #menu-icon {
        width: 25px;
        height: 25px;
    }

    #signin,
    .subscribe-lk {
        font-size: .7em;
    }
}

.header-nav {
  font-family: 'Roboto Condesed', Arial, Helvetica, sans-serif;
  font-weight: 700;
  position: relative;
  background-color: white;
  border-bottom: 2px solid #d9d9d9;
}

.header-nav > .nav {
    padding: 10px 10px 0 0;
    /* border: 1px solid black; */
    min-width: 950px;
    width: 95%;

    position: relative;
    top: -10px;
    background-color: white;
    z-index: 1;
    justify-content: end;
}

.header-nav > .nav > .nav-item {
  padding: 0 5px;
  border-right: 1px solid #d9d9d9; /* poner con media query */
}

.header-nav > .nav > .nav-item:last-child {
    position: relative;
    padding-right: 25px;
    border-right: none;
}

.header-nav > .nav:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: white;
    transform-origin: top left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.header-nav > .nav > .nav-item:last-child > svg {
    position: absolute;
    height: 20px;
}

#search-input {
    width: 60px;
    border: none;
    text-transform: capitalize;
}

@media only screen and (max-width: 990px) {
  .header-nav > .nav {
    display: none;
  }
}

.top-articles .title,
.top-story .title,
#opinion .title,
.latest-news .title,
.more-stories .title {
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
  font-size: 16px;
}

.avatar {
  height: 63px;
  width: 63px;
  margin-right: 15px;
}

.signup-block {
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
}

.signup-block > div {
  display: flex;
}

span.logo {
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.lk::after {
  background-image: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg);
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  background: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center/contain no-repeat;
}

#in-the-magazine .title,
#editors-picks .title {
  text-transform: uppercase;
  text-align: center;
}

.top-footer > .row {
  align-items: flex-end;
}

#ft-title-svg {
  fill: red;
  width: 236px;
}

.social-icon {
  height: 24px;
  width: 24px;
  fill: rgb(102, 102, 102);
  background: rgb(102, 102, 102);
}

.editions .nav-item,
.bottom-links .nav-item {
  padding-right: 20px;
}
