body {
  background-color: #f4f5f6;
}

.page-header,
.main,
.footer {
  width: 100vw;
  margin: 0 auto;
  background-color: white;
  max-width: 1310px;
}

.page-header > .top-header {
  padding: 15px;
  background-color: red;
}

.main {
  padding-top: 10px;
}

@media only screen and (min-width: 992px) {
  .main main {
    max-height: 1590px;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }

  .main main::-webkit-scrollbar { width: 0 !important; }

  .page-header > .top-header {
    padding: 20px 10px 25px;
  }

  .top-header > .row {
    align-items: flex-end;
  }
}

.top-header > .row {
  color: white;
}

#title-svg {
  fill: white;
  height: 20px;
}

@media only screen and (min-width: 992px) {
  #title-svg {
    height: 60px;
  }
}

.upper-case {
  text-transform: uppercase;
  font-weight: 700;
}

.portraits-container > div {
  width: 200px;
  position: relative;
  margin: 0 auto;
}

.signup-block > div {
  display: flex;
}

.top-footer > .row > div {
  display: flex;
  align-items: baseline;
}

.top-header > .row > div:last-child {
  text-align: right;
}

#singin,
.subscribe-lk {
  font-size: 0.8em;
}

#singin:link {
  color: black;
}

.subscribe-lk {
  background-color: white;
  color: red;
  border-radius: 1px;
  padding: 6px 3px;
}

#signin:hover,
.subscribe-lk:hover {
  text-decoration: none;
}

.subscribe-lk > svg {
  fill: #f72210;
  width: 8px;
  height: 10px;
  margin-left: 5px;
  vertical-align: baseline;
}

#menu-icon {
  margin-left: 3px;
}

@media only screen and (max-width: 768px) {
  #menu-icon {
    width: 25px;
    height: 25px;
  }

  #signin,
  .subscribe-lk {
    font-size: 0.7em;
  }
}

.header-nav {
  font-family: 'Roboto Condesed', Arial, Helvetica, sans-serif;
  font-weight: 700;
  position: relative;
  background-color: white;
  border-bottom: 2px solid #d9d9d9;
}

.header-nav > .nav {
  padding: 10px 10px 0 0;
  min-width: 950px;
  width: 95%;
  position: relative;
  top: -10px;
  background-color: white;
  z-index: 1;
  justify-content: end;
}

.editions .nav-item,
.bottom-links .nav-item {
  padding: 0 5px;
  color: rgb(102, 102, 102);
  border-right: 1px solid #d9d9d9;
}

.top-footer .nav-item {
  margin: 0 2px;
}

.header-nav > .nav > .nav-item {
  padding: 0 5px;
  border-right: 1px solid #d9d9d9; /* poner con media query */
  font-weight: bolder;
}

.header-nav > .nav > .nav-item:last-child {
  position: relative;
  padding-right: 25px;
  border-right: none;
}

.header-nav > .nav::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: white;
  transform-origin: top left;
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
}

.subscribe .subscribe-lk > svg,
.newsletter .subscribe-lk > svg {
  fill: white;
}

.signup-block > .subscribe-lk > svg {
  fill: white;
}

.header-nav > .nav > .nav-item:last-child > svg {
  position: absolute;
  height: 20px;
}

.more-stories li img {
  display: block;
  float: left;
}

.card-body a {
  text-decoration-color: red;
  position: relative;
}

.card > a {
  text-decoration: none;
}

.button > a {
  background-color: rgb(194, 212, 215);
  color: black;
  padding: 0 3px;
}

.top-story-title > a {
  color: black;
}

.nav-item > a,
.opinions h6 > a,
.more-stories h6 > a {
  text-decoration: none;
  color: black;
}

.signup-block > a:last-child {
  font-weight: bolder;
}

.top-story-title > a:hover {
  text-decoration-color: red;
}

.nav-item > a:hover,
.opinions h6 > a:hover,
.more-stories h6 > a:hover {
  color: red;
}

#featured-slideshows a {
  display: block;
  position: relative;
}

#latest-news h6 > a {
  text-decoration: none;
  color: black;
}

#in-the-magazine .card-title > a {
  color: black;
}

#latest-news h6 > a:hover {
  color: red;
}

#in-the-magazine .card-title > a:hover {
  text-decoration-color: red;
}

.more-stories ul > li {
  padding: 10px 0;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.topic-item ul > li {
  border-bottom: 1px solid rgb(217, 217, 217);
  padding: 10px 0;
}

.opinions ul li {
  padding: 10px 0;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.topic-item ul > li:last-child {
  border-bottom: none;
}

.topic-item ul > li:first-child {
  padding-top: 0;
}

#latest-news ul > li {
  padding: 10px 0;
  border-bottom: 1px solid rgb(217, 217, 217);
}

#search-input {
  width: 60px;
  border: none;
  text-transform: capitalize;
}

@media only screen and (max-width: 990px) {
  .header-nav > .nav {
    display: none;
  }
}

.card {
  border: none;
  background-color: transparent;
}

.card-body {
  padding: 0.1em;
}

.top-articles .card .tag {
  position: relative;
  bottom: 26px;
  left: 0;
  background-color: #f4f5f6;
  padding: 5px 10px;
  text-transform: uppercase;
  color: red;
  font-weight: bold;
}

#featured-slideshows .tag {
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  position: absolute;
  background-color: #f4f5f6;
  display: block;
  width: 70px;
  height: 52px;
  bottom: 0;
  left: 0;
}

#editors-picks .card .tag {
  position: relative;
  bottom: 26px;
  left: 0;
  background-color: #f4f5f6;
  padding: 5px 10px;
  text-transform: uppercase;
  color: red;
  font-weight: bold;
}

.top-story .row {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.avatar {
  height: 63px;
  width: 63px;
  margin-right: 15px;
}

.culture-travel {
  background-color: #f4f5f6;
  padding-top: 5px;
}

.culture-travel > h2 {
  font-weight: bold;
}

.culture-travel > .row {
  padding-bottom: 15px;
}

.culture-travel .card .card-title {
  font-family: Lora, serif;
}

.culture-travel .card .card-text {
  color: rgba(39, 39, 39, 0.5);
}

.topic-item ul li > img {
  margin-right: 10px;
  width: 135px;
  height: 90px;
}

.more-stories ul > li > img {
  margin-right: 10px;
  width: 135px;
  height: 90px;
}

.portraits-container > div > img:last-child {
  position: absolute;
  top: 10px;
  left: 30px;
}

#latest-news > ul > li > img {
  margin-right: 10px;
  width: 135px;
  height: 90px;
}

.signup-block {
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
  max-width: 90%;
}

.signup-block > .subscribe-lk {
  background-color: #666;
  color: white;
  padding: 8px;
}

.subscribe .subscribe-lk,
.newsletter .subscribe-lk {
  color: white;
  background-color: red;
  text-transform: uppercase;
}

.signup-block > .subscribe-lk:hover {
  background-color: #999;
}

span.logo {
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.signup-block > .title-container {
  display: flex;
  align-items: center;
}

.subscribe > h5,
.newsletter > h5 {
  color: red;
  text-transform: uppercase;
}

.topic-item > h5 {
  color: red;
  text-transform: uppercase;
}

.signup-block > div > h5 {
  text-transform: uppercase;
  font-weight: bolder;
}

.lk::after {
  background-image: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg);
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
}

#in-the-magazine,
#editors-picks,
#featured-slideshows {
  margin-top: 20px;
}

#in-the-magazine .title-container,
#editors-picks .title-container,
#featured-slideshows .title-container {
  justify-content: center;
  border-bottom: 1px solid rgb(217, 217, 217);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#in-the-magazine .title,
#editors-picks .title,
#featured-slideshows .title {
  text-transform: uppercase;
  text-align: center;
}

.card-body > .category {
  margin: 10px 0;
}

.card-body > .category > span {
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
}

.card-body > .category > span:first-child {
  background-color: red;
  color: white;
}

.card-body > .category > span:last-child {
  color: red;
}

#in-the-magazine > .row:first-child .card-text {
  background-color: #f4f5f6;
  text-transform: uppercase;
  font-weight: bolder;
}

.top-footer > .row {
  align-items: flex-end;
}

.subscribe > .row {
  background-color: #f4f5f6;
  padding: 20px;
}

#editors-picks .row {
  margin-bottom: 15px;
}

#featured-slideshows {
  border-bottom: 1px solid rgb(217, 217, 217);
}

.topic-item {
  border-bottom: 1px solid rgb(217, 217, 217);
  margin-top: 5px;
}

.subscribe,
.newsletter {
  padding: 35px;
}

.portraits-container {
  position: relative;
}

.subscribe > .row > div:last-child {
  margin-top: 7px;
}

.newsletter > .row > div:first-child {
  min-height: 45px;
  height: 265px;
  background: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5) center center / cover no-repeat;
}

.newsletter > .row > div:last-child {
  padding: 37px;
  max-height: 265px;
}

.footer {
  padding: 35px;
}

.top-footer {
  padding: 10px 0;
  border-bottom: 1px solid rgb(217, 217, 217);
}

#ft-title-svg {
  fill: red;
  width: 236px;
}

.social-icon {
  height: 24px;
  width: 24px;
}

.editions {
  margin: 5px 0;
}
